@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";

}

<form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="Email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <button type="submit" class="btn btn-success btn-block">Redefinir Senha</button>
    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Voltar</a>
</form>